#load-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    gap: 1rem;
    color: var(--on-background-colour);
    text-align: center;
}

#load-message {
    text-align: center;
}

#load-message p {
    text-align: center;
    opacity: 0.6;
    max-width: 28rem;
}

#indicator {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.3rem solid transparent;
    border-top: 0.3rem solid var(--primary-colour);
    animation: spin 0.65s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
