:root {
    --background-colour: #101210;
    --on-background-colour: #efe;
    --primary-colour: rgb(10, 180, 10);
    --on-primary-colour: #ffffdf;
    --secondary-colour: #333;
    --on-secondary-colour: #efe;
    --danger-colour: rgb(150, 0, 0);
    --on-danger-colour: rgb(255, 180, 180);
    --accent-colour: #99ff80;
    --on-accent-colour: #006600;
    --header-gap: 2rem;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--primary-colour);
    background-color: var(--background-colour);

    font-size: clamp(15px, min(2vw, 2vh), 20px);
}

*,
::before,
::after {
    padding: 0;
    margin: 0;
}

#root {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
}

.page {
    display: flex;
    justify-content: center;
    margin-top: var(--header-gap);
    width: 100%;
    max-width: 1200px;
}

.danger {
    background-color: var(--danger-colour);
    color: var(--on-danger-colour);
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: inherit;
    color: var(--on-accent-colour);
    background-color: var(--accent-colour);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: var(--on-accent-colour);
}

@media (prefers-color-scheme: light) {
    :root {
        --on-primary-colour: #fff;
        --background-colour: #fff;
        --on-background-colour: #000;
        --secondary-colour: #ded;
        --on-secondary-colour: #232;
        --danger-colour: rgb(255, 0, 0);
    }
    a:hover {
        color: #005;
    }
}
